#navbarDropdownMenuLink {
    color: darkslategrey;
}

#ComparisonNavItem {
    color: darkslategrey;
}

#DataNavItem {
    color: darkslategrey;
}

#totalnavbar {
    background-color: lightseagreen;
} 

#navbar-title-item {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 2px;
    background-color: lightseagreen;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

#humiditymain {
    max-width: 500px;
    padding: 0px;
    border-style: none;
}

.caption {
    padding-bottom: 45px;
    padding-top: 70px;
    border-bottom-style: solid;
    border-color: darkgray;
    color: lightseagreen;
}

.thumbnails {
    padding-top: 40px;
    max-width: 450px;
}

.thumbnail {
    padding-top: 40px
}

.thumbrow {
    float: left;
    width: 50%;
    padding: 5px;
    padding-bottom: 15px;
    border-style: none;
  }

.thumbrowtwo {
    float: left;
    width: 50%;
    padding: 5px;
    border-style: none;
}

#maxtempthumbnail {
    border-style: none;
    overflow: hidden;
}

#humiditythumbnail {
    border-style: none;
    overflow: hidden;
}

#cloudinessthumbnail {
    border-style: none;
    overflow: hidden;
}

#windspeedthumbnail {
    border-style: solid;
    border-width: 2px;
    border-color: lightseagreen
}

p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: darkslategray
}

body {
    background-color: rgb(241, 241, 241)
}

.SummaryColumn {
    background-color: white;
    border-radius: 2px
}

.VizTableColumns {
    background-color: white;
    border-radius: 2px
}

#container {
    background-color: rgb(241, 241, 241);
}

@media (max-width: 765px) {

#maxtempmain {
    max-width: 500px;
}

.thumbnails {
    display: grid;
    width: 915px;
    grid-template-columns: 210px 210px 210px 210px;
    grid-gap: 2em;
    align-items: start;
    justify-content: space-between;
}

.caption {
    padding-bottom: 30px;
    padding-top: 10px;
}

.SummaryColumn {
    padding-top: 75px;
}

}