#navbarDropdownMenuLink {
    color: darkslategrey;
}

#ComparisonNavItem {
    color: darkslategrey;
}

#DataNavItem {
    color: darkslategrey;
}

#totalnavbar {
    background-color: lightseagreen;
} 

#navbar-title-item {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 2px;
    background-color: lightseagreen;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

h1 {
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom-style: solid;
    border-color: darkgray;
    color: lightseagreen;
}

h3 { 
    padding-top: 65px;
    text-decoration: none;
    color: lightseagreen
}

#row {
    align-content: center;
    text-decoration: none;
}

#firstrow {
    float: left;
    width: 50%;
    padding: 5px;
    border-style: none;
  }

#secondrow {
    float: left;
    width: 50%;
    padding: 5px;
    border-style: none;
}

#maxtempthumbnail {
    border-style: none;
    max-width: 400px
}

#humiditythumbnail {
    border-style: none;
    max-width: 400px
}

#cloudinessthumbnail {
    border-style: none;
    max-width: 400px
}

#windspeedthumbnail {
    border-style: none;
    max-width: 400px
}

body {
    background-color: rgb(241, 241, 241)
}

.container {
    background-color: white;
    border-radius: 5px;
}




@media (max-width: 991px) {

}